<div class="sideDiv">
    <div class="sideContent" routerLink="resources">
        <div class="iconDiv">
            <i class='bx bx-task iconn'></i>
        </div>
        <div class="iconTitle">
            <h3>Resources</h3>
        </div>
    </div>
    <div class="sideContent" routerLink="booked">
        <div class="iconDiv">
            <i class='bx bx-bookmark iconn' ></i>
        </div>
        <div class="iconTitle">
            <h3>Booked</h3>
        </div>
    </div>
    <div class="sideContent" routerLink="chat">
        <div class="iconDiv">
            <i class='bx bx-message-rounded-dots iconn' ></i>
        </div>
        <div class="iconTitle">
            <h3>Chat</h3>
        </div>
    </div>
    <div class="sideContent" routerLink="profile">
        <div class="iconDiv">
            <i class='bx bx-user iconn' ></i>
        </div>
        <div class="iconTitle">
            <h3>Profile</h3>
        </div>
    </div>
    <div class="sideContent" routerLink="logout">
        <div class="iconDiv">
            <i class='bx bx-log-out iconn' ></i>
        </div>
        <div class="iconTitle">
            <h3>logout</h3>
        </div>
    </div>
</div>
