<div class="logoutDiv">
    <div class="logoutCard">
        <div class="iconDiv">
            <i class='bx bx-log-out iconn' ></i>
        </div>
        <div class="textDiv">
            <h3>Oh no...you are leaving.</h3>
            <h3>Are you sure? </h3>
        </div>
        <div class="yesButton">
            <button  routerLink="/user/resources">Nah..just kidding</button>
        </div>
        <div class="noButton">
            <button routerLink="login">Yes..log me out</button>
        </div>
    </div>
</div>
