<div class="registrationPage">
    <div class="registrationCard">
        <div class="imageDiv">
            <img src="https://static.vecteezy.com/system/resources/previews/029/510/170/large_2x/empty-modern-movie-theatre-interior-with-screen-and-seats-generative-ai-photo.jpg" alt="">
        </div>
        <div class="formDiv">
            <div class="sign">
                <h2>Welcome back!!!</h2>
            </div>
            <div class="form">
                <form action="">
                    <div class="inputDiv">
                        <input type="email" placeholder="Email" required>
                    </div>
                    <div class="inputDiv">
                        <input type="password" placeholder="Password" required>
                    </div>
                    <div class="submitDiv">
                        <button type="submit">Login</button>
                    </div>
                    <div class="termsDiv">
                        <p>Do not have an account?<a routerLink="/register" class="anchor">Sign up here</a></p>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
