*{
    margin: 0;
    padding: 0;
    color: white;
    font-family: "Inter", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}
:root {
    --primary: #0FE916;
    --primary-hover: #0CD214;
    --primary-transparent: rgba(15, 233, 22, 0.1);
    --primary-dark: #0BA610;
    --background: #191A1C;
    --card-bg: #1E1E1E;
    --input-bg: #5F6468;
    --input-focus: #777C82;
    --text-primary: #FFFFFF;
    --text-secondary: rgba(255, 255, 255, 0.7);
    --text-tertiary: rgba(255, 255, 255, 0.5);
    --danger: #FF4757;
    --success: #0FE916;
    --warning: #FFC107;
    --neutral: #5F6468;
    --border-radius: 8px;
    --shadow: 0 10px 30px rgba(0, 0, 0, 0.25);
    --transition: all 0.3s ease;
  }
