<div class="registrationPage">
    <div class="registrationCard">
        <div class="imageDiv">
            <img src="https://static.vecteezy.com/system/resources/previews/029/510/170/large_2x/empty-modern-movie-theatre-interior-with-screen-and-seats-generative-ai-photo.jpg" alt="">
        </div>
        <div class="formDiv">
            <div class="sign">
                <h2>Sign Up</h2>
            </div>
            <div class="form">
                <form action="">
                    <div class="fileDiv">
                        <input type="file" placeholder="image" required>
                    </div>
                    <div class="inputDiv">
                        <input type="text" placeholder="first Name" required>
                    </div>
                    <div class="inputDiv">
                        <input type="text" placeholder="other Names" required>
                    </div>
                    <div class="inputDiv">
                        <input type="text" placeholder="phone Number" required>
                    </div>
                    <div class="inputDiv">
                        <input type="text" placeholder="phone Number2" required>
                    </div>
                    <div class="inputDiv">
                        <input type="email" placeholder="Email" required>
                    </div>
                    <div class="inputDiv">
                        <input type="password" placeholder="Password" required>
                    </div>
                    <div class="inputDiv">
                        <input type="password" placeholder="Confirm Password" required>
                    </div>
                    <div class="inputDiv">
                        <input type="text" placeholder="Location" required>
                    </div>
                    <div class="submitDiv">
                        <button type="submit">Sign Up</button>
                    </div>
                    <div class="termsDiv">
                        <p>Already have an account? <a routerLink="/login" class="anchor">Login here</a></p>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>